# Скопируйте в .env и задайте свои значения
# cp .env.example .env

SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret-key
SQLALCHEMY_DATABASE_URI=postgresql://user:password@localhost:5432/utilbase
BOT_TOKEN=your-telegram-bot-token
BASE_DIR=
YANDEX_API_KEY=your-yandex-api-key
